body {
    background-color: lightgreen;
}

#chatbox {
    margin: 0 auto;
}

#chat-text {
    background-color: white;
    width: 300px;
    height: 200px;
}
#player1-textname {
    color: orangered;
}
#player2-textname {
    color: green;
}